<a href="https://colab.research.google.com/github/Kaio1394/Curso-ciencia-de-dados/blob/master/Melbourne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('MELBOURNE_HOUSE_PRICES_LESS.csv')

In [ ]:
# Colunas do dataframe
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Postcode', 'Regionname', 'Propertycount', 'Distance',
       'CouncilArea'],
      dtype='object')

In [ ]:
# Exibição das 5 primeiras linhas
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [ ]:
# Quantidade de linhas
len(data)

63023

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

In [ ]:
data.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

In [ ]:
# Trocando valores NaN por zero
data['Price'] = data['Price'].fillna(0)
data.loc[data['Price'] == 0.0]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
8,Albanvale,1 Jackson Cct,6,h,0.0,PI,hockingstuart,1/04/2017,3021,Western Metropolitan,1899,14.0,Brimbank City Council
15,Altona Meadows,57 Tatman Dr,4,h,0.0,SN,Barry,1/04/2017,3028,Western Metropolitan,7630,15.5,Hobsons Bay City Council
24,Ashburton,1 Pitt St,4,h,0.0,S,Jellis,1/04/2017,3147,Southern Metropolitan,3052,10.2,Boroondara City Council
29,Attwood,46 Threadneedle St,4,h,0.0,SN,Barry,1/04/2017,3049,Northern Metropolitan,1130,16.5,Hume City Council
38,Balwyn North,12 Agnes Av,3,h,0.0,SP,Fletchers,1/04/2017,3104,Southern Metropolitan,7809,9.7,Boroondara City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63001,Wyndham Vale,15 Yaltara Dr,3,h,0.0,S,hockingstuart,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63008,Yarraville,4/247 Williamstown Rd,3,t,0.0,S,Jas,30/12/2017,3013,Western Metropolitan,6543,6.3,Maribyrnong City Council
63010,Burwood,29 Summit Rd,4,h,0.0,PN,@Realty,31/03/2018,3125,Southern Metropolitan,5678,10.4,Monash City Council
63021,Thomastown,3/1 Travers St,3,u,0.0,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,0.0,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [ ]:
# Casa com valor de preço maior
data.sort_values('Price', ascending=False)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
59166,Brighton,6 Cole St,4,h,11200000.0,VB,hockingstuart,28/10/2017,3186,Southern Metropolitan,10579,10.5,Bayside City Council
61142,Mulgrave,35 Bevis St,3,h,9000000.0,PI,Hall,29/07/2017,3170,South-Eastern Metropolitan,7113,18.8,Monash City Council
23841,Canterbury,49 Mangarra Rd,5,h,8000000.0,VB,Sotheby's,13/05/2017,3126,Southern Metropolitan,3265,8.4,Boroondara City Council
33780,Hawthorn,49 Lisson Gr,4,h,7650000.0,S,Abercromby's,17/06/2017,3122,Southern Metropolitan,11308,5.3,Boroondara City Council
51592,Armadale,1 Barnato Gr,4,h,7000000.0,PI,Kay,25/11/2017,3143,Southern Metropolitan,4836,6.3,Stonnington City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19799,Noble Park,28 Cosier Dr,4,h,0.0,SN,Barry,10/12/2016,3174,South-Eastern Metropolitan,11806,22.7,Greater Dandenong City Council
51763,Carlton,167 Station St,2,h,0.0,SP,Ray,25/11/2017,3053,Northern Metropolitan,6786,1.6,Melbourne City Council
51764,Carlton North,159 Arnold St,5,h,0.0,PI,Craig,25/11/2017,3054,Northern Metropolitan,3106,3.5,Melbourne City Council
19797,Noble Park,10 Ambrie Cr,3,h,0.0,SN,Barry,10/12/2016,3174,South-Eastern Metropolitan,11806,22.7,Greater Dandenong City Council
63022,Williams Landing,1 Diadem Wy,4,h,0.0,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [ ]:
# Filtrando dados
filter = data.loc[(data['Rooms'] == 3) & (data['Type'] == 'h') & data['Price'] <= 200000]
filter

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3.0,h,1490000.0,S,Jellis,1/04/2017,3067.0,Northern Metropolitan,4019.0,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3.0,h,1220000.0,S,Marshall,1/04/2017,3067.0,Northern Metropolitan,4019.0,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3.0,h,1420000.0,S,Nelson,1/04/2017,3067.0,Northern Metropolitan,4019.0,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3.0,h,1515000.0,S,Barry,1/04/2017,3040.0,Western Metropolitan,1543.0,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2.0,h,670000.0,S,Nelson,1/04/2017,3042.0,Western Metropolitan,3464.0,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54366,Epping,53 Hayston Bvd,3.0,h,465000.0,S,Harcourts,27/05/2017,3076.0,Northern Metropolitan,10926.0,19.6,Whittlesea City Council
54367,Epping,13 Orlit Ct,4.0,h,545000.0,PI,Barry,27/05/2017,3076.0,Northern Metropolitan,10926.0,19.6,Whittlesea City Council
54368,Epping,14A Supply Dr,2.0,h,452500.0,S,Barry,27/05/2017,3076.0,Northern Metropolitan,10926.0,19.6,Whittlesea City Council
54369,Essendon,9 Amelia Av,4.0,h,1577000.0,S,Hodges,27/05/2017,3040.0,Western Metropolitan,9264.0,7.5,Moonee Valley City Council
54370,Essendon,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN